.material-symbols-outlined {
    font-size: inherit;
}

.btn-custom-one {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    color: $medium-gray-color;
    border: 2px solid $medium-gray-color;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    opacity: 0.9;
}

.btn-close {
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.6;
  border: none;
  color: $white-color;
  background-color: transparent;
  font-size: $font-size-xl;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

input {
  border: 2px solid transparent;
  height: 1.8em;
  padding-top: 8px;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: rgba(243, 243, 243, 0.8);
  border-radius: 10px;
  transition: all 0.5s;
}

input:hover {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
  background-color: rgba(243, 243, 243, 1);
}

.attribute-label {
  text-align: center;
  display: flex;
  color: #f3f3f3;
  margin-right: 10px;
}
