:root {
    --white-color: #fff;
    --dark-color: #1e293b;
    --primary-color: rgba(255, 255, 255, 0);
    --secondary-color: #f3961c;
    --light-pink-color: #f3f4f5;
    --medium-gray-color: #ccc;
    --gray-color: #64748b;
    --dark-alt-color: #334155;
    --light-color: #f1f5f9;
    --sidebar-width: 300px;
    --modifybar-width: 400px;
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;
    --site-max-width: 1300px;
}

$white-color: #fff;
$dark-color: #1e293b;
$primary-color: rgba(255, 255, 255, 0);
$secondary-color: #f3961c;
$light-pink-color: #f3f4f5;
$medium-gray-color: #ccc;
$gray-color: #64748b;
$dark-alt-color: #334155;
$light-color: #f1f5f9;

$sidebar-width: 300px;
$modifybar-width: 400px;

$font-size-s: 0.9rem;
$font-size-n: 1rem;
$font-size-m: 1.12rem;
$font-size-l: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.3rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$border-radius-s: 8px;
$border-radius-m: 30px;
$border-radius-circle: 50%;

$site-max-width: 1300px;
